<!DOCTYPE html>
<html>
  <head>
    <title>RocketElevatorsInformationSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield(:head_tags) %>

    <script>
      var plugin_path = 'assets/plugins/'
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ML5HF1829J"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ML5HF1829J');
    </script>

  </head>

  <body>
    <%= render 'partials/header' %>
    <%= yield %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'partials/footer' %>
    <%= yield :after_js %>
  </body>
</html>
